<section class="aboutus-section">
  <div
    class="container-fluid aboutus-section__bg d-flex justify-content-center align-items-center"
  >
    <h2 class="section-title">FAQ’s</h2>
  </div>
</section>
<section class="faq-section container">
  <ul class="list-unstyled">
    <li>
      <p class="faq-section__title">1. Is there a deposit to hold the room?</p>
      <p class="faq-section__text mb-5">
        Cinko does not charge a deposit; deposit rates are subject to change per
        hotel.
      </p>
    </li>
    <li>
      <p class="faq-section__title">
        2. Is there a deposit to protect against damage/incidentals to the room?
      </p>
      <p class="faq-section__text mb-5">
        This will be charged at the time of check-in by the hotel itself, not
        through Cinko.com. This is acknowledged in our Terms and Conditions on
        Cinko.com
      </p>
    </li>
    <li>
      <p class="faq-section__title">
        3. How are taxes and other fees collected by the hotel? 
        <!-- Does this need
        to be identified in check out at Cinko.com? -->
      </p>
      <p class="faq-section__text mb-5">
        This will be charged at the time of check-in by the hotel itself, not
        through Cinko.com. This is acknowledged in our Terms and Conditions on
        Cinko.com
      </p>
    </li>
    <li>
      <p class="faq-section__title">
        4. Is there a cancelation fee? If so, how much and will the full fee go
        directly to the hotel?
      </p>
      <ul class="faq-section__sublist">
        <li class="faq-section__text mb-3">
          The customer is responsible for remitting the full amount of the
          hotel’s cancelation fee directly to the hotel. This is acknowledged in
          our terms and conditions on Cinko.com.
        </li>
        <!-- <li class="faq-section__text mb-5">
          If pricing was incorrect when inputting vendor information, Cinko may
          correct the price and/or offer to cancel the reservation without
          penalty to the customer.
        </li> -->
      </ul>
    </li>
    <li>
      <p class="faq-section__title">5. Policy for double booking?</p>
      <ul class="faq-section__sublist">
        <li class="faq-section__text mb-3">
          If the double booking was due to an error within Cinko.com, Cinko will
          be responsible to pay for the second guests’ room at full rate.
        </li>
        <li class="faq-section__text mb-5">
          If the error was due to failure to remove a room or giving room to a
          non-Cinko guest, the hotel is responsible to accommodate the Cinko
          user in a room comparable at the Cinko rate.
        </li>
      </ul>
    </li>
    <li>
      <p class="faq-section__title">
        6. Are group bookings/room blocks available on Cinko?
      </p>
      <p class="faq-section__text mb-5">
        Not at this time, must contact hotel directly to inquire about room
        number, adjoining rooms, accessible rooms and so forth.
      </p>
    </li>
    <li>
      <p class="faq-section__title">
        7. Is there extended stay booking through Cinko?
      </p>
      <p class="faq-section__text mb-5">
        Not at this time, must contact hotel to inquire about multiple night
        stays. Pricing is subject to change after the agreed upon price paid for
        one night through Cinko.com.
      </p>
    </li>
    <li>
      <p class="faq-section__title">8. Does Cinko.com accept gift cards?</p>
      <p class="faq-section__text mb-5">
        Cinko.com does not accept or distribute gift cards currently.
      </p>
    </li>
    <li>
      <p class="faq-section__title">
        9. Can a customer change their booking information after the reservation
        has been made through Cinko.com?
      </p>
      <p class="faq-section__text mb-5">
        No, a customer cannot change their guest’s name, bed type, smoking
        preference, room type, number of guests, travel dates, etc. after the
        reservation has been confirmed through Cinko.com. It is upon the hotel’s
        discretion to allow any of the above change requests by the guest at the
        time of check-in.
      </p>
    </li>
    <li>
      <p class="faq-section__title">
        10. What if a customer reserves a room that is on Cinko as available,
        and the hotel does not have it available at the time of check-in due to
        double booking, not updating bookings that day, failure to delete
        booking, housekeeping concerns etc.
      </p>
      <p class="faq-section__text mb-5">
        It is the hotel’s responsibility to accommodate the customer with a
        comparable room at the Cinko rate.
      </p>
    </li>
    <li>
      <p class="faq-section__title">
        11. Can you use qualifying hotel points to pay for your Cinko room. As
        well as can you receive points with qualifying hotels booking through
        Cinko.com?
      </p>
      <ul class="faq-section__sublist">
        <!-- <li class="faq-section__text mb-3">
          It is the hotel’s responsibility to accommodate the customer with a
          comparable room at the Cinko rate.
        </li> -->
        <li class="faq-section__text">
          It is at the hotel’s digression if you will earn points for your stay.
        </li>
      </ul>
    </li>
  </ul>
</section>
