<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid p-0">
        <a class="navbar-brand" href="#"
          ><img
            src="../../assets/img/logocinko.png"
            alt=""
            srcset=""
            class="logocinko"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav custom-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link" [ngClass]="activepage=='/'||activepage=='/home'?'active':''"
                aria-current="page"
                routerLink="home"
                title="Home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about-us" title="About Us" [ngClass]="activepage=='/about-us'?'active':''"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="faq" title="FAQ's"  [ngClass]="activepage=='/faq'?'active':''">FAQ’s</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" title="Vendors" >Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Contact Us">Contact Us</a>
            </li>
          </ul>
          <button class="btn btn-primary" routerLink="signIn">Log in</button>
          <button class="btn btn-secondary" routerLink="signUp">Sign Up</button>
        </div>
      </div>
    </nav>
  </div>
</header>
