<div class="d-flex">
  <div class="position-relative">
    <app-admin-aside></app-admin-aside>
  </div>
  <section class="tabs-content w-100 ">
    <header
      class="dashboard-header d-flex justify-content-between align-items-center"
    >
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">My Rooms</a></li>
        </ol>
      </nav>
      <div class="d-flex align-items-center">
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/dashboard-search.svg" alt="search" />
        </div>
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/notification.svg" alt="search" />
        </div>
        <div class="user-name d-flex align-items-center">
          <img
            src="../../assets/img/user-img.png"
            alt="user"
            class="user-img"
          />
          <h2 class="user-heading">David Sperry</h2>
        </div>
      </div>
    </header>
    <section class="dashboard-section">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="dashboard-heading mb-0">My Rooms</h2>
        <button class="btn btn-tritary">Back to List</button>
      </div>
      <div class="hotels-form">
        <div class="row myhotels-list gx-0">
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Hotel Name</h2>
              <p class="myhotels-text">David</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Category</h2>
              <p class="myhotels-text">Deluxe Room</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Amenities</h2>
              <p class="myhotels-text">
                Spa , Pool , Room Service , Free Parking , Fitness Center ,
                Business Center , Valet Parking
              </p>
            </div>
          </div>
        </div>
        <div class="row myhotels-list gx-0">
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Availability Status</h2>
              <p class="myhotels-text mb-0">
                <img
                  src="../../assets/img/download-dot.svg"
                  alt="download"
                  class="me-2 mb-1"
                /><span class="download">Active</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Rate</h2>
              <p class="myhotels-text">10</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Description</h2>
              <p class="myhotels-text">Luxury Stay</p>
            </div>
          </div>
        </div>
        <div class="row myhotels-list">
          <h2 class="myhotels-title">Images</h2>
          <div class="d-flex hotel-images flex-wrap">
            <img src="../../assets/img/hotel-image.png" alt="hotels" />
            <img src="../../assets/img/hotel-image.png" alt="hotels" />
            <img src="../../assets/img/hotel-image.png" alt="hotels" />
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
