<div class="d-flex">
  <div class="position-relative">
    <app-admin-aside></app-admin-aside>
  </div>
  <section class="tabs-content w-100 ">
    <header
      class="dashboard-header d-flex justify-content-between align-items-center"
    >
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">Hotels</a></li>
        </ol>
      </nav>
      <div class="d-flex align-items-center">
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/dashboard-search.svg" alt="search" />
        </div>
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/notification.svg" alt="search" />
        </div>
        <div class="user-name d-flex align-items-center">
          <img
            src="../../assets/img/user-img.png"
            alt="user"
            class="user-img"
          />
          <h2 class="user-heading">David Sperry</h2>
        </div>
      </div>
    </header>
    <section class="dashboard-section">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="dashboard-heading mb-0">Hotels</h2>
        <button class="btn btn-tritary">Back to List</button>
      </div>
      <div class="hotels-form">
        <div class="row myhotels-list gx-0">
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Hotel Name</h2>
              <p class="myhotels-text">David</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Address 1</h2>
              <p class="myhotels-text">105 S Amos Ave, Springfield, IL 62704</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Address 2</h2>
              <p class="myhotels-text">XYZ</p>
            </div>
          </div>
        </div>
        <div class="row myhotels-list gx-0">
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Country</h2>
              <p class="myhotels-text">United States</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">State</h2>
              <p class="myhotels-text">Illinois</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">City</h2>
              <p class="myhotels-text">Springfield</p>
            </div>
          </div>
        </div>
        <div class="row myhotels-list gx-0">
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">ZIP Code</h2>
              <p class="myhotels-text">62704</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Rooms Available</h2>
              <p class="myhotels-text">5</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Amenities</h2>
              <p class="myhotels-text">XYZ</p>
            </div>
          </div>
        </div>
        <div class="row myhotels-list gx-0">
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Description</h2>
              <p class="myhotels-text">Luxury Stay</p>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Hotel reg Certificate</h2>
              <div class="d-flex align-items-center">
                <p class="myhotels-text me-4 mb-0">
                  <img
                    src="../../assets/img/view.svg"
                    alt="view"
                    class="me-2 mb-1"
                  /><span class="view">View</span>
                </p>
                <p class="myhotels-text mb-0">
                  <img
                    src="../../assets/img/download.svg"
                    alt="download"
                    class="me-2 mb-1"
                  /><span class="download">Download</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h2 class="myhotels-title">Hotel Images</h2>
              <div class="d-flex hotel-images flex-wrap">
                <img src="../../assets/img/hotel-image.png" alt="hotels" />
                <img src="../../assets/img/hotel-image.png" alt="hotels" />
                <img src="../../assets/img/hotel-image.png" alt="hotels" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
