<div class="d-flex">
  <div class="position-relative">
    <app-admin-aside></app-admin-aside>
  </div>
  <section class="tabs-content content-right w-100 overflow-hidden">
    <header
      class="dashboard-header d-flex justify-content-between align-items-center"
    >
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">Tickets</a></li>
        </ol>
      </nav>

        
      <div class="nav-mobile-cinkoicon">
        <div (click)="showMyContainer=!showMyContainer">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
            <path d="M3.75 6.75H20.25M3.75 12H20.25M3.75 17.25H20.25" stroke="#680184" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

        </div>
        <img src="../../assets/img/logocinko.png" class="cinko-icon" alt="cinko icon">
      </div>

      <div class="d-flex align-items-center">
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/dashboard-search.svg" alt="search" />
        </div>
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/notification.svg" alt="search" />
        </div>
        <div class="user-name d-flex align-items-center">
          <img
            src="../../assets/img/user-img.png"
            alt="user"
            class="user-img"
          />
          <h2 class="user-heading">David Sperry</h2>
        </div>
      </div>
    </header>
    <section class="dashboard-section">
      
      <h2 class="dashboard-heading mb-0">Tickets</h2>
      <div>
        <main>
          <div class="hotelList_wrapper dt-bootstrap5">           
            <div class="d-flex justify-content-between">
              <div class="search_filter">
                <label>
                  <input type="search" class="form-control" placeholder="Search" aria-controls="search">
                  <img src="../../assets/img/dashboard-search.svg" alt="search"/>
                </label>
              </div>
            </div>
            <div class="row dt-row">
              <div class="col-sm-12 responsive-table">
                <table id="example" class="hotelDataTable" style="width: 100%;" aria-describedby="example_info">
                  <thead>
                    <tr>
                      <th tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="activate to sort column descending" style="width: 172px;">Sr. No</th>
                      <th class="dropdown" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="max-width: 172px; min-width: 120px;">Raised by</th>
                      <th class="dropdown" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width: 172px;">Priority</th>
                      <th tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width: 172px;">Category</th>
                      <th tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width: 172px;">Subject</th>
                      <th rowspan="1" colspan="1" aria-label="" style="width: 190px;">Status</th>
                      <th rowspan="1" colspan="1" aria-label="" style="width: 190px;">Amount ($)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd">
                      <td class="sorting_1">#968406</td>
                      <td>David</td>
                      <td class="error">High</td>
                      <td>Technical Issue</td>
                      <td>Wifi</td>
                      <td>
                        <span class="chip open">Open</span>
                      </td>
                      <td>
                       <a href="javascript:void(0)" class="link" routerLink="/view-tickets">
                        <img src="../../assets/img/eyeToView.svg" alt="search"/>
                       </a>
                      </td>
                    </tr>  
                    
                    <tr class="even">
                      <td class="sorting_1">#968406</td>
                      <td>David</td>
                      <td class="success">Low</td>
                      <td>Technical Issue</td>
                      <td>Wifi</td>
                      <td>
                        <span class="chip closed">Closed</span>
                      </td>
                      <td>
                        <a href="javascript:void(0)" class="link" routerLink="/view-tickets">
                        <img src="../../assets/img/eyeToView.svg" alt="search"/>
                       </a>
                      </td>
                    </tr>     

                    <tr class="odd">
                      <td class="sorting_1">#968406</td>
                      <td>David</td>
                      <td class="warning">Medium</td>
                      <td>Technical Issue</td>
                      <td>Wifi</td>
                      <td>
                        <span class="chip closed">Closed</span>
                      </td>
                      <td>
                        <a href="javascript:void(0)" class="link" routerLink="/view-tickets">
                        <img src="../../assets/img/eyeToView.svg" alt="search"/>
                       </a>
                      </td>
                    </tr>     

                    <tr class="even">
                      <td class="sorting_1">#968406</td>
                      <td>David</td>
                      <td class="success">High</td>
                      <td>Technical Issue</td>
                      <td>Wifi</td>
                      <td>
                        <span class="chip open">Open</span>
                      </td>
                      <td>
                        <a href="javascript:void(0)" class="link" routerLink="/view-tickets">
                        <img src="../../assets/img/eyeToView.svg" alt="search"/>
                       </a>
                      </td>
                    </tr>     
                  </tbody>
                </table>
              </div>
              <!-- <div class="col-sm-12">
                <table id="example" class="hotelDataTable" style="width: 100%;" aria-describedby="example_info">
                  <thead>
                    <tr>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">Name</th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 172px;">Position</th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 172px;">Office</th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 172px;">Age</th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 172px;">Start date</th>
                      <th rowspan="1" colspan="1" aria-label="Salary" style="width: 190px;">Salary</th>
                      <th rowspan="1" colspan="1" aria-label="Salary" style="width: 190px;">Rooms</th>
                      <th rowspan="1" colspan="1" aria-label="Salary" style="width: 190px;">Salary</th>
                      <th rowspan="1" colspan="1" aria-label="Salary" style="width: 190px;">Salary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd">
                      <td class="sorting_1">Airi Satou</td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>33</td>
                      <td>2008-11-28</td>
                      <td>$162,700</td>
                      <td>33</td>
                      <td>$162,700</td>
                      <td>
                        <span class="chip paid">Paid</span>
                      </td>
                    </tr>
                    <tr class="even">
                      <td class="sorting_1">Angelica Ramos</td>
                      <td>Chief Executive Officer (CEO)</td>
                      <td>London</td>
                      <td>47</td>
                      <td>2009-10-09</td>
                      <td>$1,200,000</td>
                      <td>33</td>
                      <td>$162,700</td>
                      <td>
                        <span class="chip error">Error</span>
                      </td>
                    </tr>
                    <tr class="odd">
                      <td class="sorting_1">Ashton Cox</td>
                      <td>Junior Technical Author</td>
                      <td>San Francisco</td>
                      <td>66</td>
                      <td>2009-01-12</td>
                      <td>$86,000</td>
                      <td>33</td>
                      <td>$162,700</td>
                      <td>
                        <span class="chip error">Error</span>
                      </td>
                    </tr>
                    <tr class="even">
                      <td class="sorting_1">Bradley Greer</td>
                      <td>Software Engineer</td>
                      <td>London</td>
                      <td>41</td>
                      <td>2012-10-13</td>
                      <td>$132,000</td>
                      <td>33</td>
                      <td>$162,700</td>
                      <td>
                        <span class="chip pending">Pending</span>
                      </td>
                    </tr>                    
                  </tbody>
                </table>
              </div> -->
            </div>
            <div class="row">
              <div class="d-flex justify-content-between align-items-center">
                <div class="dataTables_info py-5 mt-0" id="example_info" role="status" aria-live="polite">Show <select><option [defaultSelected]="6">6</option><option [defaultSelected]="6">6</option><option>1 </option></select> entries</div>
              
                <div>
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="hotel_previous">
                      <a aria-controls="example" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">
                        <span class="fa fa-chevron-left">Previous</span>
                      </a>
                    </li>
                    <li class="paginate_button page-item active">
                      <a href="#" aria-controls="example" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link active">1</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example" role="link" data-dt-idx="1" tabindex="0" class="page-link">2</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example" role="link" data-dt-idx="2" tabindex="0" class="page-link">3</a>
                    </li>
                    
                    <li class="paginate_button page-item next" id="example_next">
                      <a href="#" aria-controls="example" role="link" data-dt-idx="next" tabindex="0" class="page-link">
                        <span class="fa fa-chevron-right">Next</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </main>
      </div>
    </section>
  </section>
</div>
