<div class="d-flex">
  <div class="position-relative">
    <app-admin-aside></app-admin-aside>
  </div>
  <section class="tabs-content content-right w-100 overflow-hidden">
    <header
      class="dashboard-header d-flex justify-content-between align-items-center"
    >
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">My Rooms</a></li>
        </ol>
      </nav>
        
      <div class="nav-mobile-cinkoicon">
        <div (click)="showMyContainer=!showMyContainer">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
            <path d="M3.75 6.75H20.25M3.75 12H20.25M3.75 17.25H20.25" stroke="#680184" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

        </div>
        <img src="../../assets/img/logocinko.png" class="cinko-icon" alt="cinko icon">
      </div>

      <div class="d-flex align-items-center">
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/dashboard-search.svg" alt="search" />
        </div>
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/notification.svg" alt="search" />
        </div>
        <div class="user-name d-flex align-items-center">
          <img
            src="../../assets/img/user-img.png"
            alt="user"
            class="user-img"
          />
          <h2 class="user-heading">David Sperry</h2>
        </div>
      </div>
    </header>
    <section class="dashboard-section">
      
      <h2 class="dashboard-heading mb-0">My Rooms</h2>
      <div>
        <main>
          <div class="hotelList_wrapper dt-bootstrap5">           
            <div class="d-flex flex-wrap justify-content-between">
              <div class="search_filter">
                <label>
                  <input type="search" class="form-control" placeholder="Search" aria-controls="search">
                  <img src="../../assets/img/dashboard-search.svg" alt="search"/>
                </label>
              </div>
              <div class="addHotelBtn">
                <button class="btn btn-primary" (click)="addroompopup()">+ Add New Room</button>
              </div>
            </div>

            <div class="row bgColor">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex roomBox">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <img src="../../assets/img/room1.png" alt="room1" class="w-100"/>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12 room-detail">
                    <div class="d-flex justify-content-between">
                      <h3>David <br><span>Luxury Stay</span></h3>
                      <p class="rate"><span>Rate: </span>$10/night</p>
                    </div>
                    <p><span>Address: </span>105 S Amos Ave, Springfield, IL 62704,</p>
                    <p><span>Category: </span>Deluxe Room</p>
                    <div class="d-flex justify-content-between iconWidth">
                      <img src="../../assets/img/dateIcon.svg" alt="date icon" (click)="addroomavailablepopup()">
                      <img src="../../assets/img/eyeToView.svg" alt="view icon" routerLink="/view-room">
                      <img src="../../assets/img/edit.svg" alt="edit icon">
                      <img src="../../assets/img/trash.svg" alt="trash icon" (click)="deleteroompopup()">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex roomBox">
                  <div class="col-md-4 col-sm-12">
                    <img src="../../assets/img/room1.png" alt="room1" class="w-100"/>
                  </div>
                  <div class="col-md-8 col-xs-12 room-detail">
                    <div class="d-flex justify-content-between">
                      <h3>David <br><span>Luxury Stay</span></h3>
                      <p class="rate"><span>Rate: </span>$10/night</p>
                    </div>
                    <p><span>Address: </span>105 S Amos Ave, Springfield, IL 62704,</p>
                    <p><span>Category: </span>Deluxe Room</p>
                    <div class="d-flex justify-content-between iconWidth">
                      <img src="../../assets/img/dateIcon.svg" alt="date icon" (click)="addroomavailablepopup()">
                      <img src="../../assets/img/eyeToView.svg" alt="view icon" routerLink="/view-room">
                      <img src="../../assets/img/edit.svg" alt="edit icon">
                      <img src="../../assets/img/trash.svg" alt="trash icon" (click)="deleteroompopup()">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex roomBox">
                  <div class="col-md-4 col-sm-12">
                    <img src="../../assets/img/room1.png" alt="room1" class="w-100"/>
                  </div>
                  <div class="col-md-8 col-xs-12 room-detail">
                    <div class="d-flex justify-content-between">
                      <h3>David <br><span>Luxury Stay</span></h3>
                      <p class="rate"><span>Rate: </span>$10/night</p>
                    </div>
                    <p><span>Address: </span>105 S Amos Ave, Springfield, IL 62704,</p>
                    <p><span>Category: </span>Deluxe Room</p>
                    <div class="d-flex justify-content-between iconWidth">
                      <img src="../../assets/img/dateIcon.svg" alt="date icon" (click)="addroomavailablepopup()">
                      <img src="../../assets/img/eyeToView.svg" alt="view icon" routerLink="/view-room">
                      <img src="../../assets/img/edit.svg" alt="edit icon">
                      <img src="../../assets/img/trash.svg" alt="trash icon" (click)="deleteroompopup()">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex roomBox">
                  <div class="col-md-4 col-sm-12">
                    <img src="../../assets/img/room1.png" alt="room1" class="w-100"/>
                  </div>
                  <div class="col-md-8 col-xs-12 room-detail">
                    <div class="d-flex justify-content-between">
                      <h3>David <br><span>Luxury Stay</span></h3>
                      <p class="rate"><span>Rate: </span>$10/night</p>
                    </div>
                    <p><span>Address: </span>105 S Amos Ave, Springfield, IL 62704,</p>
                    <p><span>Category: </span>Deluxe Room</p>
                    <div class="d-flex justify-content-between iconWidth">
                      <img src="../../assets/img/dateIcon.svg" alt="date icon" (click)="addroomavailablepopup()">
                      <img src="../../assets/img/eyeToView.svg" alt="view icon" routerLink="/view-room">
                      <img src="../../assets/img/edit.svg" alt="edit icon">
                      <img src="../../assets/img/trash.svg" alt="trash icon" (click)="deleteroompopup()">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="d-flex justify-content-between align-items-center">
                <div class="dataTables_info py-5 mt-0" id="example_info" role="status" aria-live="polite">Show <select><option [defaultSelected]="6">6</option><option [defaultSelected]="6">6</option><option>1 </option></select> entries</div>
              
                <div>
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="hotel_previous">
                      <a aria-controls="example" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">
                        <span class="fa fa-chevron-left">Previous</span>
                      </a>
                    </li>
                    <li class="paginate_button page-item active">
                      <a href="#" aria-controls="example" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example" role="link" data-dt-idx="1" tabindex="0" class="page-link">2</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example" role="link" data-dt-idx="2" tabindex="0" class="page-link">3</a>
                    </li>
                    
                    <li class="paginate_button page-item next" id="example_next">
                      <a href="#" aria-controls="example" role="link" data-dt-idx="next" tabindex="0" class="page-link">
                        <span class="fa fa-chevron-right">Next</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </main>
      </div>
    </section>
  </section>
</div>


<div class="popup-overlary" *ngIf="showAddRoomPopup">
  <div class="popup-bg-close" (click)="addroompopup()"></div>
  <div class="model">
    <div class="model-header d-flex justify-content-between">
      <h2 class="model-title">Add Room</h2>
      <img src="../../assets/img/close-model.svg" alt="close model" (click)="addroompopup()">
    </div>
    <div class="model-content">
      <div class="row">
        
        <div class="col-sm-6">
          <div class="float-label mb-5">
            <select class="form-select" aria-label="Default select example" class="float-control">
              <option selected>Select Hotel</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <img src="../../assets/img/dropDown.svg" alt="drop down" class="position-absolute">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="float-label mb-5">
            <select class="form-select" aria-label="Default select example" class="float-control">
              <option selected>Category</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <img src="../../assets/img/dropDown.svg" alt="drop down" class="position-absolute">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="float-label mb-5">
            <select class="form-select" aria-label="Default select example" class="float-control">
              <option selected>Facility</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <img src="../../assets/img/dropDown.svg" alt="drop down" class="position-absolute">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="float-label mb-5">
            <select class="form-select" aria-label="Default select example" class="float-control">
              <option selected>Description</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <img src="../../assets/img/dropDown.svg" alt="drop down" class="position-absolute">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="float-label mb-5">
            <label for=""></label>
            <select class="form-select" aria-label="Default select example" class="float-control">
              <option selected>Company Name </option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <img src="../../assets/img/dropDown.svg" alt="drop down" class="position-absolute">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="float-label mb-5">
            <select class="form-select" aria-label="Default select example" class="float-control">
              <option selected>Swift Code </option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <img src="../../assets/img/dropDown.svg" alt="drop down" class="position-absolute">
          </div>
        </div>
       
        <div class="col-sm-6">
          <div class="float-label mb-5">
            <label for="" class="file-label">Hotel reg certificate</label>
            <input
              type="file"
              class="float-control file-placeholder"
              placeholder="No file chosen"
            />
          </div>
        </div>
        
        <div class="col-sm-6 align-self-center">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center payment-radio">
              <input type="radio" id="Activate" name="gender" />
              <label for="Activate" class="payment-title text-black">Activate</label>
            </div>
            <div class="d-flex align-items-center payment-radio">
              <input type="radio" id="Deactivate" name="gender" />
              <label for="Deactivate" class="payment-title"
                >Deactivate</label
              >
            </div>
          </div>
        </div>
        
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-tritary" (click)="addroompopup()">CLOSE</button>
        <button class="btn btn-primary" (click)="addsuccesspopup()" >SUBMIT</button>
      </div>
    </div>
  </div>
</div>

<!-- Make this Room Available  -->
<div class="popup-overlary" *ngIf="showRoomAvailablePopup">
  <div class="popup-bg-close" (click)="addroomavailablepopup()"></div>
  <div class="model">
    <div class="model-content p-md-5">
      <h2 class="model-message mb-4 text-center">Are you sure want to make this room available?</h2>
      <div class="d-flex justify-content-center">
        <button class="btn btn-tritary" (click)="addroomavailablepopup()">CANCLE</button>
        <button class="btn btn-primary">OKAY</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete Room  --> 
<div class="popup-overlary" *ngIf="showDeleteRoomPopup">
  <div class="popup-bg-close" (click)="deleteroompopup()"></div>
  <div class="model">
    <div class="model-content p-md-5">
      <h2 class="model-message mb-4 text-center">Are you sure want to delete this room?</h2>
      <div class="d-flex justify-content-center">
        <button class="btn btn-tritary" (click)="deleteroompopup()">CANCLE</button>
        <button class="btn btn-primary">OKAY</button>
      </div>
    </div>
  </div>
</div>


<div class="popup-overlary" *ngIf="showsuccessPopup">
  <div class="popup-bg-close" (click)="addsuccesspopup()"></div>
  <div class="model" style="max-width:596px;">
    <div class="model-content d-flex flex-column align-items-center p-md-5">
      <div class="model-success-image">
        <img src="../../assets/img/success_animation.gif" alt="">
      </div>
      <h3 class="model-success-message mb-4 text-center">New Room added sucessfully</h3>
      
    </div>
  </div>
</div>