<section class="aboutus-section">
  <div
    class="container-fluid aboutus-section__bg d-flex justify-content-center align-items-center"
  >
    <h2 class="section-title">About us</h2>
  </div>
</section>
<section class="about-aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-auto col-md-6 col-sm-12">
        <div class="about-aboutus__content">
          <h2 class="section-title">About Us</h2>
          <p class="section-subtitle">
            In today's fast-paced world, we sometimes find ourselves someplace
            where we need to spend the night - but we did not plan to spend the
            night.
          </p>
          <p class="section-subtitle">
            This is where Cinko helps tremendously! Using Cinko travelers are
            able to make a last-minute hotel reservation for that night's stay -
            at an amazingly inexpensive price!
          </p>
          <p class="section-subtitle">
            Cinko is the perfect marriage for a traveler who unexpectedly needs
            a room for the night and a hotel who has a room that they thought
            would remain empty for the night!
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 about-sky-img position-relative">
        <img
          src="../../assets/img/about-sky.jpg"
          alt="image-wrap"
          class="img-fluid w-100"
          loading="lazy"
        />
        <div class="dotted-bg">
          <img
            src="../../assets/img/dottedShape.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <!-- <div class="col-md-6 col-sm-12 image-right position-relative">
        <div class="image-wrap image-wrap--large">
          <div class="image-outer">
            <img
              src="../../assets/img/sky.jpg"
              alt="image-wrap"
              class="img-fluid"
              loading="lazy"
            />
          </div>
        </div>
        <div class="dotted-bg">
          <img
            src="../../assets/img/dottedShape.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- commenting for future use as of now disabled -->
 <!-- <section class="vision-mission">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 col-sm-12">
        <h4 class="vision-mission__title vision">Vision</h4>
        <p class="vision-mission__subtitle">
          Our vision is to create a world where technology and innovation
          empower individuals and communities to thrive. We strive to be at the
          forefront of advancements, constantly pushing boundaries to develop
          solutions that address the world's most pressing challenges.
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
        <h4 class="vision-mission__title mission">Mission</h4>
        <p class="vision-mission__subtitle">
          Our mission is to empower individuals and organizations with
          transformative technology solutions that drive progress, foster
          innovation, and create sustainable value.
        </p>
      </div>
    </div>
  </div>
</section> 
 <section class="videoplayer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="" class="w-100 h-100 position-relative text-decoration-none">
          <div class="image-wrap image-wrap--vcplayer">
            <div class="image-outer">
              <img
                src="../../assets/img/vcplayer.png"
                alt="image-wrap"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
          <span class="playButton"><span class="icon-Frame"></span></span>
        </a>
      </div>
    </div>
  </div>
</section>  -->
<section class="cinko-standards">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Cinko Standards</h2>
      </div>
      <div class="col-lg-5 col-md-12">
        <p class="cinko-standards_subtitles">
          Microsoft uniquely delivers a comprehensive, end-to-end approach to
          business applications helping you unify data and relationships, build
          intelligence into your decision making, and accelerate business
          transformation.
        </p>
        <div class="image-wrap image-wrap--howitwork">
          <div class="image-outer">
            <img
              src="../../assets/img/cinko-standards.png"
              alt="image-wrap"
              class="img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <ul class="list-unstyled cinko-standards__details">
          <li class="d-flex">
            <div
              class="cinko-standards__count d-flex justify-content-center align-items-center"
            >
              <p class="cinko-standards__value mb-0">1.</p>
            </div>
            <div>
              <h2 class="cinko-standards__title mb-0">Quality Communication</h2>
              <p class="section-subtitle">
                Never guess if your reservation went through. Even at the
                last-minute, please know that with Cinko you can reserve your
                room with confidence. Our user dashboard will upload your
                reservation and confirmation.
              </p>
            </div>
          </li>
          <li class="d-flex">
            <div
              class="cinko-standards__count d-flex justify-content-center align-items-center"
            >
              <p class="cinko-standards__value mb-0">2.</p>
            </div>
            <div>
              <h2 class="cinko-standards__title mb-0">Customer Service</h2>
              <p class="section-subtitle">
                We strive to make your stay through Cinko the best it can be.
                Cinko works alongside our Hotel Partners to ensure for you a
                comfortable stay. If you would like to reach a Cinko team
                member, please create a ticket under your user dashboard and our
                customer service team will immediately address your needs.
              </p>
            </div>
          </li>
          <li class="d-flex">
            <div
              class="cinko-standards__count d-flex justify-content-center align-items-center"
            >
              <p class="cinko-standards__value mb-0">3.</p>
            </div>
            <div>
              <h2 class="cinko-standards__title mb-0">Competitive Pricing</h2>
              <p class="section-subtitle">
                At Cinko, we keep it simple, in most markets for just $50.00 a
                room with no hidden fees. You will pay the Hotel’s qualifying
                tax rate and deposit for incidentals when you arrive at your
                destination. Cinko stays true, we only collect your $50.00.
              </p>
            </div>
          </li>
          <li class="d-flex">
            <div
              class="cinko-standards__count d-flex justify-content-center align-items-center"
            >
              <p class="cinko-standards__value mb-0">4.</p>
            </div>
            <div>
              <h2 class="cinko-standards__title mb-0">Convenient Locations</h2>
              <p class="section-subtitle">
                Tired of searching for addresses, - Don’t sweat it, Cinko it!®
                Use our location services to find the nearest available room.
                Whether you’re new in town or have a delay, we can direct you to
                where your last-minute stay will.
              </p>
            </div>
          </li>
          <li class="d-flex">
            <div
              class="cinko-standards__count d-flex justify-content-center align-items-center"
            >
              <p class="cinko-standards__value mb-0">5.</p>
            </div>
            <div>
              <h2 class="cinko-standards__title mb-0">
                Clear Instructions to a Quick Reservation
              </h2>
              <p class="section-subtitle mb-0">
                New to Cinko? It’s easy, all you need is five minutes. Download
                the App, create an account, choose your desired location, Cinko
                will match you with available rooms, you choose one, and we will
                send you your verified confirmation.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
