<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<app-header></app-header>
<!-- <app-home></app-home>  -->
<!-- need to talk with mansi -->
<!-- <app-about-us></app-about-us>  -->
<!-- <app-faq></app-faq>  -->
<!-- <app-terms-conditions></app-terms-conditions>  -->
<!-- ready -->
<!-- <app-signup></app-signup>  -->
<!-- ready but need to check responsive -->
<router-outlet> </router-outlet>

<!-- <app-signin></app-signin> ready but need to check responsive-->
<!-- <app-dashboard></app-dashboard>  -->
<!-- <app-add-new-hotel></app-add-new-hotel> ready but need to check responsive -->
<!-- <app-view-hotel></app-view-hotel> -->
<!-- <app-hotels-list></app-hotels-list> -->
<!-- <app-hotel-booking></app-hotel-booking> -->
<!-- <app-hotel-invoice></app-hotel-invoice> -->
<!-- <app-hotel-ticket></app-hotel-ticket> -->
<!-- <app-my-room></app-my-room> ready but need to check responsive -->
<!-- <app-view-room></app-view-room> ready but need to check responsive -->
<!-- <app-view-tickets></app-view-tickets> -->
<!-- <app-user-profile></app-user-profile> -->
<!-- <app-privacy-policy></app-privacy-policy> -->

<app-footer></app-footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
