<section class="aboutus-section mb-5">
  <div
    class="container-fluid aboutus-section__bg d-flex justify-content-center align-items-center"
  >
    <h2 class="section-title">Privacy and User Policy</h2>
  </div>
</section>
<section class="container">
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Acceptable Use Policy</h2>
    <p class="faq-section__text mb-5">
      You are independently responsible for complying with all applicable laws
      in all of your actions related to your use of our services, regardless of
      the purpose of the use. In addition, you must adhere to the terms of this
      Acceptable Use Policy.
    </p>
  </div>
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Prohibited Activities</h2>
    <p class="faq-section__text mb-5">
      You may not use our service for activities that:
    </p>
    <ul class="list-number">
      <li class="faq-section__text">
        Violate any law, statute, ordinance, or regulation.
      </li>
      <li class="faq-section__text">Relate to sales of</li>
      <ul class="faq-section__sublist">
        <li class="faq-section__text">
          (a) narcotics, steroids, certain controlled substances, or other
          products that present a risk to consumer safety,
        </li>
        <li class="faq-section__text">(b) drug paraphernalia,</li>
        <li class="faq-section__text">
          (c) items that encourage, promote, facilitate, or instruct others to
          engage in illegal activity,
        </li>
        <li class="faq-section__text">
          (d) items that promote hate, violence, racial intolerance, or the
          financial exploitation of a crime,
        </li>

        <li class="faq-section__text">
          (e) items that are considered obscene,
        </li>

        <li class="faq-section__text">
          (f) items that infringe or violate any copyright, trademark, right of
          publicity or privacy or any other proprietary right under the laws of
          any jurisdiction,
        </li>

        <li class="faq-section__text">
          (g) certain sexually oriented materials or services,
        </li>

        <li class="faq-section__text">
          (h) ammunition, firearms, or certain firearm parts or accessories,
        </li>
        <li class="faq-section__text">
          (i) certain weapons or knives regulated under applicable law.
        </li>
      </ul>

      <li class="faq-section__text">Relate to transactions that</li>
      <ul class="faq-section__sublist">
        <li class="faq-section__text">
          (a) show the personal information of third parties in violation of
          applicable law,
        </li>
        <li class="faq-section__text">
          (b) support Pyramid or Ponzi schemes, matrix programs, other “get rich
          quick” schemes or certain multi-level marketing programs,
        </li>
        <li class="faq-section__text">
          (c) are associated with purchases of real property, annuities or
          lottery contracts, layaway systems, off-shore banking or transactions
          to finance or refinance debts funded by a credit card,
        </li>
        <li class="faq-section__text">
          (d) are for the sale of certain items before the seller has control or
          possession of the item,
        </li>

        <li class="faq-section__text">
          (e) are by payment processors to collect payments on behalf of
          merchants,
        </li>

        <li class="faq-section__text">
          (f) are associated with the following Money Service Business
          Activities: the sale of traveler’s cheques or money orders, currency
          exchanges, or cheque cashing,
        </li>

        <li class="faq-section__text">
          (g) provide certain credit repair or debt settlement services.
        </li>
      </ul>
      <li class="faq-section__text">
        Involve the sales of products or services identified by government
        agencies to have a high likelihood of being fraudulent.
      </li>
      <li class="faq-section__text">
        Violate applicable laws or industry regulations regarding the sale of
      </li>
      <ul class="faq-section__sublist">
        <li class="faq-section__text">(a) tobacco products, or</li>
        <li class="faq-section__text">(b) prescription drugs and devices.</li>
      </ul>
      <li class="faq-section__text mb-5">
        Involve gambling, gaming and/or any other activity with an entry fee and
        a prize, including, but not limited to casino games, sports betting,
        horse or greyhound racing, lottery tickets, other ventures that
        facilitate gambling, games of skill (whether or not it is legally
        defined as a lottery) and sweepstakes unless the operator has obtained
        prior approval from PayPal and the operator and customers are located
        exclusively in jurisdictions where such activities are permitted by law.
        Privacy Policy
      </li>
    </ul>

    <p class="faq-section__text mb-5">
      The privacy of your personal information is critically important. The
      purpose of this policy is to let you know how we handle the information
      collected through the use of this website. This policy does not apply to
      information collected through other means such as by telephone or
      inperson, although that information may be protected by other privacy
      policies. As used in this policy, terms such as "we" or "our" and
      "Company" refer to support@Cinko.com and its current and future affiliated
      entities, including our parent company Remwes, LLC. This website is
      intended only as a source of information for persons wishing information
      about something they have found on their skin. Any information you
      provide, including any personal information, will be transferred to and
      processed by a computer server located within the United States.
    </p>
  </div>
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Cookies and Tracking</h2>
    <p class="faq-section__text mb-5">
      Cinko.com uses various technologies, which may include "cookie" technology
      to gather information from our website visitors such as pages visited and
      how often they are visited, and to enable certain features on this
      website. "Cookies" are small text files that may be placed on your
      computer when you visit a website or click on a URL. Cookies may include
      "single-session cookies" which generally record information during only a
      single visit to a website and then are erased, and "persistent" cookies
      which are generally stored on a computer unless or until they are deleted
      or are set to expire. You may disable cookies and similar items by
      adjusting your browser preferences at any time; however, this may limit
      your ability to take advantage of all the features on this website. You
      may also manage the use of "flash" technologies, with the Flash Management
      Tools available at Adobe's website. Note that we do not currently respond
      to web browser "Do Not Track" signals that provide a method to opt out of
      the collection of information about online activities over time and across
      third-party websites or online services because, among other reasons,
      there is no common definition of such signals and no industry-accepted
      standards for how such signals should be interpreted. We may also allow
      third-party service providers to use cookies and other technologies to
      collect information and to track browsing activity over time and across
      third-party websites such as web browsers used to read our websites, which
      websites are referring traffic or linking to our websites, and to deliver
      targeted advertisements to you. We do not control these third-party
      technologies and their use is governed by the privacy policies of third
      parties using such technologies. For more information about third-party
      advertising networks and similar entities that use these technologies, see
      www.aboutads.info/consumers and to opt-out of such ad networks' and
      services' advertising practices, go to www.aboutads.info/choices.
    </p>
    <p class="faq-section__text mb-5">
      Once you click the link, you may choose to opt-out of such advertising
      from all participating advertising companies or only advertising provided
      by specific advertising companies. We may use analytics companies to
      gather information and aggregate data from our website visitors such as
      which pages are visited and how often they are visited, and to enable
      certain features on our websites. Information is captured using various
      technologies and may include cookies. We may use and disclose your
      activity information unless restricted by this policy or by law. Some
      examples of the ways we use your activity information include: Customizing
      your experience on the website, marketing, product development, and
      research purposes. Tracking resources and data accessed on the website.
      Developing reports regarding site usage, activity, and statistics.
      Assisting users experiencing website problems.Enabling certain functions
      and tools on this website. Tracking paths of visitors to this website and
      within this website. Your Personal Information: This website may include
      web pages that give you the opportunity to provide us with personal
      information about yourself. You do not have to provide us with personal
      information if you do not want to; however, that may limit your ability to
      use certain functions of this website or to request certain services or
      information. We may use personal information for a number of purposes such
      as: To respond to an email or particular request from you. To personalize
      the website for you. To process an application as requested by you. To
      provide you with information that we believe may be useful to you, such as
      information about health products or services provided by us or other
      businesses.
    </p>
    <p class="faq-section__text mb-5">
      To comply with applicable laws, regulations, and legal process. To protect
      someone's health, safety, or welfare. To protect our rights, the rights of
      affiliates or related third parties, or take appropriate legal action,
      such as to enforce our Terms of Use. To keep a record of our transactions
      and communications. As otherwise necessary or useful for us to conduct our
      business, so long as such use is permitted by law. We may use personal
      information to contact you through any contact information you provide
      through this website, including any email address, telephone number, cell
      phone number, text message number, or fax number. Please see the section
      below titled, "Our Online Communications Practices." We may share personal
      information within Cinko.com and we may combine personal information that
      you provide us through this website with other information we have
      received from you, whether online or offline. For example, if you have
      purchased a product or service from us, we may combine personal
      information you provide through this website with information regarding
      your receipt of the product or service.
    </p>
  </div>
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Sharing Personal Information</h2>
    <p class="faq-section__text mb-5">
      We will not share your personal information with third parties; however,
      we reserve the right to possibly amend this policy without prior
      notification as otherwise permitted by law. We may share personal
      information if all or part of Cinko.com is sold, merged, dissolved,
      acquired, or in a similar transaction. We may share personal information
      in response to a court order, subpoena, search warrant, law or regulation.
      We may cooperate with law enforcement authorities in investigating and
      prosecuting activities that are illegal, violate our rules, or may be
      harmful to other visitors. If you submit information or a posting to a
      chat room, bulletin board, or similar "chat" related portion of this
      website, the information you submit along with your screen name will be
      visible to all visitors, and such visitors may share with others.
      Therefore, please be thoughtful in what you write and understand that this
      information may become public. We may share personal information with
      other third-party companies that we collaborate with or hire to perform
      services on our behalf. For example, we may hire a company to help us send
      and manage email, and we might provide the company with your email address
      and certain other information in order for them to send you an email
      message on our behalf. Similarly, we may hire companies to host or operate
      some of our websites and related computers and software applications. This
      website may permit you to view your visitor profile and related personal
      information and to request changes to such information. If this function
      is available, we will include a link on this website with a heading such
      as "My Profile" or similar words. Clicking on the link will take you to a
      page through which you may review your visitor profile and related
      personal information.
    </p>
  </div>
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Website and Information Security</h2>
    <p class="faq-section__text mb-5">
      We strive to maintain the highest administrative, technical, and physical
      safeguards designed to protect the information that you provide on this
      website. However, no security system is impenetrable, and we cannot
      guarantee the security of our website, nor can we guarantee that the
      information you supply will not be intercepted while being transmitted to
      us over the Internet, and we are not liable for the illegal acts of third
      parties such as criminal hackers.
    </p>
  </div>
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Our Online Communication Practices</h2>
    <p class="faq-section__text mb-5">
      We may send electronic newsletters, notification of account status, and
      other communications, such as marketing communications, on a periodic
      basis to various individuals and organizations. We may also send email
      communications regarding topics such as general health benefits, website
      updates, health conditions, and general health topics. We offer you
      appropriate consent mechanisms, such as opt-out, for marketing and certain
      other communications. As examples, you may opt-out as provided for in a
      specific email communication or contact us as described below in the
      section "Contact Us." Please be aware that opt-outs may not apply to
      certain types of communications, such as account status, website updates,
      or other communications.
    </p>
    <p class="faq-section__text mb-5">
      Information for children under 18 years of age This website is not
      intended nor will we serve anyone under the age of 18. We will not
      intentionally collect any personal information from children under the age
      of 18 through this website. If you believe that we have inadvertently
      collected personal information from a child under the age of 18 through
      this website, please contact us immediately.
    </p>
  </div>
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Contact Us</h2>
    <p class="faq-section__text mb-5">
      To contact us regarding this policy and our related privacy practices,
      please contact us at Support@Cinko.com. If you believe we or any company
      associated with us has misused any of your information, please contact us
      immediately and report such misuse.
    </p>
  </div>
  <div class="terms-content">
    <h2 class="faq-section__title mb-3">Effective Date</h2>
    <p class="faq-section__text mb-5">
      The effective date of this policy is January 1, 2021.Changes to this
      Privacy Policy Cinko.com and/or its parent company may change this policy
      at any time at our sole discretion without notification. If we do so, such
      a change will appear on this page of our website. We may, at our
      discretion, also provide appropriate notice and choices to you, on this
      website and in other appropriate locations, based on the scope and extent
      of changes planned. You may always visit this policy to learn of any
      updates.
    </p>
  </div>
</section>
