<div class="d-flex">
  <div class="position-relative">
    <app-admin-aside></app-admin-aside>
  </div>
  <section class="tabs-content w-100">
    <header
      class="dashboard-header d-flex justify-content-between align-items-center"
    >
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">Tickets</a></li>
        </ol>
      </nav>
      <div class="d-flex align-items-center">
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/dashboard-search.svg" alt="search" />
        </div>
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/notification.svg" alt="search" />
        </div>
        <div class="user-name d-flex align-items-center">
          <img
            src="../../assets/img/user-img.png"
            alt="user"
            class="user-img"
          />
          <h2 class="user-heading">David Sperry</h2>
        </div>
      </div>
    </header>
    <section class="dashboard-section">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="dashboard-heading mb-0">Tickets</h2>
        <button class="btn btn-tritary" routerLink="/hotel-ticket">Back to List</button>
      </div>
      <div class="hotels-form">
        <div class="row myhotels-list gx-0">
          <div class="col-md-3">
            <div>
              <h2 class="myhotels-title">Author</h2>
              <p class="myhotels-text">David</p>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <h2 class="myhotels-title">Date & Time</h2>
              <p class="myhotels-text">Jun 29, 2023, 8:10:51 PM</p>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <h2 class="myhotels-title">Category</h2>
              <p class="myhotels-text">Technical Issues</p>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <h2 class="myhotels-title">Subject</h2>
              <p class="myhotels-text">WiFi</p>
            </div>
          </div>
        </div>
        <div class="row myhotels-list gx-0">
          <div class="col-md-6">
            <div>
              <h2 class="myhotels-title">Description</h2>
              <p class="myhotels-text">
                Test Ticket from Jessica.... Wifi in room was not working.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <h2 class="myhotels-title">Images</h2>
              <p class="myhotels-text">No images uploaded</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="float-label float-label--textarea mb-5">
            <textarea
              name=""
              class="float-control"
              id=""
              cols="30"
              rows="4"
              required
            ></textarea>
            <label for="">Comments</label>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary">SUBMIT</button>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
