<section class="container">
  <div class="row">
    <div class="col-md-5 col-hide-sm">
      <div class="position-relative h-100">
        <img
          src="../../assets/img/cinko-sign.png"
          alt="cinko"
          class="w-100 cinko-img"
        />
        <div
          class="cinko-signin_img d-flex justify-content-center align-items-center"
        >
          <img src="../../assets/img/cinko-image.png" alt="cinko-text" />
        </div>
        <div class="cink-grid">
          <img src="../../assets/img/signin-grid.png" alt="cinko-grid" />
        </div>
        <div class="cink-grid_bottom">
          <img src="../../assets/img/signin-grid.png" alt="cinko-grid" />
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="register-form">
        <h2 class="text-center mb-3 mb-lg-5 sign-heading">
          Register your Account
        </h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">First Name <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Last Name <span class="star">*</span> </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Email ID <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="password" class="float-control" required />
              <label for="">Password <span class="star">*</span> </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Phone Number <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="date" class="float-control" required />
              <label for="">Birthday <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Address line 1 <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Address line 2</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Country <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">State <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">City <span class="star">*</span></label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Zipcode <span class="star">*</span></label>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <p class="gender-title mb-0">Gender <span class="star">*</span></p>
            <div class="d-flex align-items-center ms-4">
              <input type="radio" id="male" name="gender" />
              <label for="male" class="gender-title gender-name">Male</label>
            </div>
            <div class="d-flex align-items-center ms-4">
              <input type="radio" id="female" name="gender" />
              <label for="female" class="gender-title gender-name"
                >Female</label
              >
            </div>
            <div class="d-flex align-items-center ms-4">
              <input type="radio" id="other" name="gender" />
              <label for="other" class="gender-title gender-name">Other</label>
            </div>
          </div>
          <div class="d-flex align-items-center check-conditions">
            <input type="checkbox" id="agree" />
            <label for="agree" class="agree-terms ms-3"
              >I agree with the
              <span class="agree-terms__title">Terms and Conditons</span></label
            >
          </div>
        </div>
        <button class="btn btn-primary w-100">SIGN UP</button>
        <div
          class="d-flex align-items-center justify-content-center have-account"
        >
          <p for="agree" class="agree-terms">
            Already have an Account?
            <span class="agree-terms__title">Sign In</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
