/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
@font-face {
    font-family: 'icomoon';
    src:  url('src/assets/icon/icomoon.eot?p3t9ku');
    src:  url('src/assets/icon/icomoon.eot?p3t9ku#iefix') format('embedded-opentype'),
      url('src/assets/icon/icomoon.ttf?p3t9ku') format('truetype'),
      url('src/assets/icon/icomoon.woff?p3t9ku') format('woff'),
      url('src/assets/icon/icomoon.svg?p3t9ku#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-email:before {
    content: "\e900";
    color: #f0fdf4;
  }
  .icon-phone:before {
    content: "\e901";
    color: #f0fdf4;
  }
  .icon-Facebook:before {
    content: "\e902";
    color: #fff;
  }
  .icon-LinkedIn:before {
    content: "\e903";
    color: #fff;
  }
  .icon-twitter:before {
    content: "\e904";
  }
  .icon-youtube:before {
    content: "\e905";
    color: #fff;
  }
  .icon-Frame:before {
    content: "\e904";
    color: #fff;
  }
  .icon-downloadd:before {
    content: "\e90b";
  }
  .icon-arrow-left:before {
    content: "\e906";
  }
  .icon-star:before {
    content: "\e907";
    color: #ffc85f;
  }
  .icon-edit:before {
    content: "\e908";
    color: #b822c5;
  }
 
:root {
    --primary-color: #853B96;
    --secondary-color: #FBEDFF;
    --base-color:#680184;
    --white:#ffffff;
    --textblack: #3A3A3A;
    --subtext: #637381;
    --black: #000000;
    --primary-font:"Poppins";
    --secondary-font:"dm-sans"
    --border-radius:'10px';
    --bs-light-rgb: 255, 255, 255;
    --light-gray: #8896AB;
    --gray-900: #2A3342;
    --gray-500: #556987;
    --hero-font: "playfair";
    --textpurple:#9229AE;
    --blueText: #147AD8;
    --lightBgBlue: #EAF5FF;
}

@font-face {
    font-family: var(--primary-font);
    src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: var(--secondary-font);
    src: url('/src/assets/fonts/DMSans_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: var(--hero-font);
    src: url('/src/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
html {
    font-size: 10px;
    font-family: var(--primary-font);
}
.text-decoration-none {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-select {
    color: #504F59;
    font-family: var(--primary-font), sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
    border: 0;
    padding: 0.5rem 3rem 0.5rem 0;
    cursor: pointer;
}
.form-select:focus {
    box-shadow: none;
    outline: none;
}

.form-select option{
  appearance: none;
}


.star{
  color: #ED4040;
}

  .btn-primary,
  .btn-secondary,
  .btn-tritary {
    text-transform: uppercase;
    background: var(--linear-default, linear-gradient(133deg, #680184 0%, #9C49AF 100%));
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
    border: none;
    padding:1.4rem 2.4rem;
    letter-spacing: 0.27px;
    transition: background .15s ease-in-out;
    line-height: 1.6rem;
  }
  .btn-primary:hover {
    background: linear-gradient(133deg, #9C49AF 0%, #680184 100%);
  }
  .btn-secondary {
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  .btn-tritary{
    background: var(--white);
    color: var(--primary-color);
    font-weight: 700;
    border:1px solid #D8D8D8;
  }
  .btn-tritary:hover{
    color: var(--secondary-color);
    background: var(--primary-color);

  }
  .btn-secondary:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
  }
  .btn-danger{
    text-transform: capitalize;
    background: #FFE2E2;
    color: #D41D1D;
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
    padding:0.9rem 3.4rem;
    transition: background .15s ease-in-out;
    line-height: 2rem;
  }
  .btn-danger:hover{
    color: #FFE2E2;
    background: #D41D1D;
  }
  .btn + .btn {
    margin-left: 1.5rem;
  }

  .custom-nav .nav-item > .nav-link {
    color: #666666;
    font-family: var(--primary-font),sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    transition: font-weight .15s ease-in-out ,color .15s ease-in-out;
    margin: 0 2rem;
    display: inline-block;
  }
  .custom-nav .nav-item:last-child > .nav-link {
    margin-right: 4rem;
  }
  .custom-nav .nav-item > .nav-link:hover ,.custom-nav .nav-item > .nav-link.active  {
    color:#680184;
    font-weight: 600;
  }
  .float-label {
    position: relative;
  }
  .float-label + .float-label {
    margin-top: 3rem;
  }
  .float-label .float-control {
    border-radius: 4px;
    border: 1px solid#8996A2;
    background:var(--white);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: var(--primary-font),sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 1.2rem;
    outline: none;
  }
  
  .float-label .float-control + label {
    color: #687787;
    font-family: var(--primary-font),sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 1.2rem;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  .float-label--textarea .float-control+label {
    top: 10%;
  }
  .float-label .float-control:focus + label,
  .float-label .float-control:valid + label {
    top: 0.1rem;
    color: #687787;
    left: 1.2rem;
    padding: 0 0.2rem;
    background: var(--white);
}
.section-title {
    color: var(--textblack);
    font-family: var(--primary-font),sans-serif;
    font-size:3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height:6rem; /* 171.429% */
    letter-spacing: -0.7px;
}
.section-subtitle {
    color: var(--subtext);
    font-family: var(--primary-font),sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 3rem;
}
.section-subtitle b{
  font-weight: 500;
}
.dotted-bg {
    position: absolute;
    right: -2rem;
    bottom: -3rem;
    z-index: -1;
}
.star-ratings {
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-ratings .icon-star {
    font-size: 1.7rem;
    line-height: 1.8rem;
}
.star-ratings__text {
    color: var(--textblack);
    font-family: var(--primary-font),sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
}
.cinko-standards_subtitles{
  font-family: var(--primary-font),sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  color: #5C5C5C;
  line-height: 24px;
  letter-spacing: -0.14px;
}

 /* signup and signin */
 

.cinko-img {
  padding: 2.7rem 0;
  height: 100%;
}
.cinko-signin_img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cink-grid {
  position: absolute;
  top: 27px;
  right: 0px;
}
.cink-grid_bottom {
  position: absolute;
  bottom: 27px;
  left: 0px;
}
.sign-heading {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;
  color: #434343;
  font-family: var(--primary-font), sans-serif;
}
.agree-terms {
  font-family: var(--primary-font), sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 16px;
  color: #5f5f5f;
}
.agree-terms .agree-terms__title {
  font-weight: 600;
  color: var(--primary-color);
}

.have-account {
  margin-top: 2rem;
}


/* dashboard */

.dashboard-section {
  background-color: #f5f7fb;
  padding: 3.5rem 3.2rem;
  overflow-y: auto;
  min-height: calc(100% - 91px);
  max-height: calc(100% - 91px);
}
.aside-section {
  width: 260px;
  background: linear-gradient(180deg, #870ea8 0%, #4a005f 219.88%);
  min-height: 100vh;
}
.aside-cinko {
  height: 5rem;
  margin-top: 2rem;
  margin-left: 3.2rem;
}
.tabs-section {
  margin-top: 5.4rem;
}
.dasboard-tabs {
  padding: 1.6rem 1.3rem;
  margin-left: 1.6rem;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}
.dasboard-tabs__heading {
  font-family: var(--primary-font), sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-left: 1.3rem;
  font-weight: 400;
}

.dasboard-tabs:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 8px 0 0 8px;
}
.iconActive{
  display: none;
}
.sideNavActive .iconActive{
  display: block;
}
.sideNavActive .iconNotActive{
  display: none;
}
.dasboard-tabs:hover .dasboard-tabs__heading{
  font-weight: 600;
}
.dasboard-tabs:hover .iconActive{
  display: block;
}
.dasboard-tabs:hover .iconNotActive{
  display: none;
}
.dasboard-tabs.sideNavActive h2{
  font-weight: 600;
}
.sidebar-arrow {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #dadada;
  background-color: var(--white);
  position: absolute;
  top: 24px;
  right: -20px;
  cursor: pointer;
  z-index: 3;
}
.dashboard-header {
  padding: 2.5rem 3.3rem;
  border-bottom: 1px solid #dadada;
}
.dashboard-heading {
  font-family: var(--primary-font), sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.8rem;
  color: var(--textblack);
}
.dashboard-search {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #f5f7fb;
}
.user-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 5px;
}
.user-heading {
  font-family: var(--primary-font), sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--textblack);
}
.user-name::after {
  position: relative;
  content: url("./assets/img/down-arrow.svg");
  right: 0;
  top: 0;
  margin-left: 1rem;
  cursor: pointer;
}

.hotels-form {
  padding: 3.4rem;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 2.4rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: url("./assets/img/brudcrumb-arrow.svg");
}
.breadcrumb .breadcrumb-item {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-family: var(--primary-font), sans-serif;
}
.breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #667085;
  font-weight: 400;
}
.breadcrumb-item.active a{
  color: #a039bc;
  font-weight: 500;
}

 /* view room view-hotel */
 .myhotels-list:not(:last-child) {
  padding-bottom: 3rem;
  border-bottom: 2px solid #e7e7e7;
}
.myhotels-list:not(:first-child) {
  padding-top: 3rem;
}
.myhotels-title {
  font-family: var(--primary-font), sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: var(--textblack);
}
.myhotels-text {
  font-family: var(--primary-font), sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #414141;
}

.myhotels-text .download {
  color: #109c04;
}
.hotel-images img {
  width: 9.6rem;
  height: 8.9rem;
  border-radius: 8px;
}
.hotel-images img:not(:last-child) {
  margin-right: 1rem;
}

/* Newly added css */
.content-right{
  width: calc(100% - 260px);
  position: relative;
}

.responsive-table{
  overflow-x:auto;
}


@media (max-width:567px) {
    .float-label .float-control,
    .float-label .float-control + label {
        font-size: 1.4rem;
    } 
    .btn {
        font-size: 1.2rem;
        padding: 1.2rem 1.8rem;
    }   
}



  /* home about us */
  .vision-mission {
    background-color: var(--secondary-color);
    padding-top: 3.5rem;
    padding-bottom: 20rem;
    position: relative;
    z-index: 1;
  }
  .vision-mission__title {
    color: #434343;
    font-family: var(--primary-font), sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.6rem; /* 184% */
    letter-spacing: -0.14px;
    position: relative;
  }
  .vision::after,
  .mission::after {
    position: absolute;
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    background-color: #e481fb;
    border-radius: 50%;
  }
  .vision::after {
    bottom: 1.2rem;
    left: 0rem;
    z-index: -1;
  }
  .mission::after {
    left: -3.3px;
    bottom: 1rem;
    z-index: -1;
  }
  .vision-mission__subtitle {
    color: #434343;
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.14px;
  }
  .videoplayer {
    margin-top: -17rem;
    z-index: 1;
    position: relative;
  }

  
@media (max-width:767px) {
    /* .container {
        padding-left: 0;
        padding-right: 0;
    } */
    .section-title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .section-subtitle {
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .sign-heading {
      font-size: 2rem;
      line-height: 3.5rem;
    }
}
@media (min-width:991px) {
    
}

@media (min-width: 1400px) {
    .container {
        max-width: 1364px;
        width: 1364px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* table search and pagination css here to apply for all component which is having  table */
.search_filter{
  width: 50%;
}
.search_filter label{
  position: relative;
  width: 100%;
}
.search_filter label input{
  width: 100%;
  padding: 10px;
  color: #9E9E9E;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
}

.search_filter label img{
  position: absolute;
  right: 10px;
  top: 10px;
}
.hotelDataTable th{
  background: #FBEEFF;
}
.hotelList_wrapper tr td,.dataTables_info,.pagination{
  font-weight: 500;
}
.hotelList_wrapper tr{
  border-bottom: 1px solid #EBEBEB;
}
.dataTables_info select{
  border-radius: 8px;
  background: #ECECEC;
  border: none;
  padding: 6px;
}
.hotelDataTable th,.hotelList_wrapper tr td,.dataTables_info,.pagination{
  font-size: 14px;
  padding: 16px;
  margin-top: 16px;
}
.pagination li .page-link {
  border-radius: 8px;
  background: #ECECEC;
  color: var(--black);
  border: none;
  padding: 6px;
  width: 30px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-left: 12px!important;
}
.pagination li .page-link:hover,.pagination li .page-link.active{
  background-color: var(--base-color);
  color: var(--white);
}
.pagination li.previous .page-link,.pagination li.next .page-link {
  background-color: transparent;
  width: auto;
  color: #9E9E9E;
}
.pagination li.next .page-link.active
.pagination li.previous .page-link:hover,.pagination li.next .page-link:hover{
  cursor: pointer;
  background-color: transparent;
  color: var(--black);
}
.dashboard-section main{
  background-color: var(--white);
  margin-top: 24px;
}
.hotelList_wrapper>.d-flex.justify-content-between{
  padding: 16px;
}
.popup-overlary{
  background: rgba(7, 0, 9, 0.56);
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.popup-overlary .model {
  width: 689px;
  background: white;
  margin: 10% auto;
  padding: 30px;
  border-radius: 5px;
}
.model-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.model-header {
  border-bottom: 1px dashed #781892;
  padding-bottom: 10px;
  margin-bottom: 16px;
}
.model-header img{
  cursor: pointer;
}
.popup-overlary .model input[type=radio]{
  width: 15px;
  height: 14px;
  margin-right: 8px;
  -webkit-appearance:none;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
}
.popup-overlary .model input[type=radio]:checked{
  background-color: #7b1c94;
}
.popup-overlary .model input[type=radio]:before {
  content: '';
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid purple;
  top: -3px;
  left: -3px;
}
.bgColor{
  background-color: #f5f7fb;
}
.sideNavActive {
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 8px 0 0 8px;
}
@media screen and (max-width: 576px){
  .hotelList_wrapper .d-flex{
    flex-direction: column;
  }
  .search_filter{
    width: 100%;
    margin-bottom: 10px;
  }
  
  .dashboard-header{
    flex-direction: column;
  }
}


 
header {
  box-shadow: 0px 4px 44px 0px rgba(176, 176, 176, 0.25);
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 2;
}
.logocinko {
  height: 5rem;
  width: 11.2rem;
}


/* footer css */
/* foote styling */
footer {
  background-color: var(--secondary-color);
}
.bottom-footer {
  background-color: var(--base-color);
  color: var(--white);
}
.main-footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bottom-footer__wrap {
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  font-size: 1.6rem;
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
}
.bottom-footer__social-icons a {
  text-decoration: none;
  font-size: 1.8rem;
  transition: color 0.2s linear;
}
.bottom-footer__social-icons a:hover > span::before {
  color: var(--secondary-color);
}
.bottom-footer__social-icons li + li {
  margin-left: 3.2rem;
}
.main-footer__text {
  color: var(--light-gray);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-family: var(--primary-font), sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.main-footer__icon-wrap {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 2.2rem;
  margin-bottom: 3.6rem;
}
.details h3 {
  font-size: 2.7rem;
  color: var(--gray-900);
  font-family: var(--primary-font), sans-serif;
  font-weight: 600;
  line-height: 3.8rem;
  margin-bottom: 0.3rem;
}
.details a {
  text-decoration: none;
  color: var(--gray-500);
  font-family: var(--primary-font), sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  transition: color 0.15s linear;
}
.details a:hover {
  color: var(--primary-color);
}
.details__appstore {
  margin: 5rem 0;
}
.details__appstore li + li {
  margin-left: 1.6rem;
}
.details__terms-condition li + li {
  margin-left: 2.5rem;
}
.details__terms-condition li a{
  font-size: 1.6rem;
}
.form-container {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 62px 0px rgba(85, 105, 135, 0.1);
  max-width: 554px;
  padding: 4rem;
  margin-left: auto;
}
.form-container h3 {
  color: #0b0b0b;
  font-family: var(--primary-font), sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.2rem;
}
.form-container .btn {
  margin-top: 3rem;
}
@media (max-width: 991px) {
  .form-container {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  .main-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .main-footer__text {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    line-height: 24px;
  }
  .main-footer__icon-wrap {
    margin-bottom: 0;
  }
  .details h3 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.8rem;
  }
  .details a {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .details__appstore {
    margin: 2.5rem 0;
  }
}
@media (max-width: 576px) {
  .details__appstore li svg {
    width: 100%;
  }
  .details__appstore li {
    width: auto;
  }
  .main-footer__icon-wrap {
    margin-right: 1.5rem;
  }
  .details .email,
  .details .phone {
    margin-bottom: 1.5rem;
  }
  .details__terms-condition {
    flex-wrap: wrap;
  }
  .details__terms-condition li + li,
  .details__terms-condition li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .bottom-footer__wrap {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    flex-direction: column;
  }
  .bottom-footer__social-icons {
    margin-top: 1rem;
  }
}


/* home component css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap");
/* home styling */
.hero-section__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.hero-section__content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 6.3rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  color: #3A3A3A;
}
.hero-section__content__subtitle {
  font-family: var(--primary-font), sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.3rem;
  margin-bottom: 4rem;
  color: #535353;
  max-width: 54rem;
}
.hero-section__content__subtitle span {
  color: var(--primary-color);
  font-weight: 600;
  font-family: var(--primary-font), sans-serif;
}
.hero-section__form {
  display: flex;
  width: 76rem;
  padding: 3rem 4rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  background: var(--white);
  box-shadow: 0 0 3.4rem 0 rgba(80, 79, 89, 0.14);
  position: relative;
  z-index: 1;
  position: absolute;
  bottom: -7rem;
  left: 0.8rem;
}
.hero-section__form__content li + li {
  margin-left: 10rem;
  position: relative;
}
.hero-section__form__content li + li::after {
  position: absolute;
  content: "";
  border-left: 1px solid #cfcfcf;
  height: 100%;
  width: 1px;
  top: 0;
  left: -5rem;
}
.hero-section__form__content label {
  color: #191726;
  font-family: var(--primary-font), sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3px;
  margin-bottom: 1rem;
}
.home-aboutus {
  padding-top: 15rem;
  padding-bottom: 8rem;
}
.home-aboutus .row{
  align-items: center;
}


.image-wrap + .image-wrap {
  margin-top: 2rem;
}
.image-wrap {
  width: 100%;
  position: relative;
}

.image-wrap--small {
  padding-bottom: 76%;
}
.image-wrap--large {
  padding-bottom: 158%;
}
.image-wrap--vcplayer {
  padding-bottom: 35%;
  border-radius: 2.6rem;
}
.image-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.image-outer img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 1rem;
}
.image-left {
  padding-right: 1.1rem;
}
.image-right {
  padding-left: 1.1rem;
}
.videoplayer .image-outer img {
  border-radius: 2.6rem;
}
.videoplayer a .image-outer {
  transition: transform 0.2s ease-in-out;
}

.videoplayer a:hover .image-outer {
  transform: scale(1.03);
  box-shadow: 0 0 3.4rem 0 rgba(80, 79, 89, 0.14);
}
.playButton {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  background-color: var(--primary-color);
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* -------------------------- */
/* how it works */
.howitworks {
  /* padding-top: 8rem; */
  padding-bottom: 8rem;
}
.howitworks .section-title {
  margin-bottom: 2rem;
}

.image-wrap--howitwork {
  padding-bottom: 70%;
}

.howitworks__image{
  width: 42.1%;
}
.howitworks__content{
  width: 52%;
}
.howitworks__details {
  padding-left: 5rem;
}
.howitworks__details li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.howitworks__details li + li {
  margin-top: 5rem;
}
.howitworks__details__iconholder {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
  font-size: 2.5rem;
  padding: 2rem;
  box-sizing: border-box;
}
.howitworks__details__iconholder--green {
  background: #e7f3d9;
}
.howitworks__details__iconholder--purple {
  background: #f4d9f6;
}
.howitworks__details__iconholder--violet {
  background: #e5e1ff;
}
.howitworks__details__iconholder--orange {
  background: #fbdad5;
}
/* accomdations */
.accomodations .accomodations__cards {
  margin-top: 3rem;
}
.accomodations__cards .card {
  border-radius: 1rem;
  border: 0;
}
.accomodations__cards .card-body {
  border: 1px solid #f5d2ff;
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
}
.image-wrap--accomodations {
  padding-bottom: 69%;
}
.image-wrap--accomodations img {
  border-radius: 10px 10px 0px 0px;
}
.accomodations {
  margin-bottom: 7rem;
}
.accomodations__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.2rem;
  height: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  transform: rotate(180deg);
  border-radius: 10px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.accomodations__btn:hover .icon-arrow-left::before {
  color: var(--secondary-color);
}
.accomodations__btn .icon-arrow-left::before {
  color: var(--primary-color);
}
.accomodations .card-title {
  color: var(--textblack);
  font-family: var(--primary-font), sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.44px;
}
.accomodations .card-text {
  color: var(--subtext);
  font-family: var(--primary-font), sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 19px; /* 135.714% */
  letter-spacing: -0.28px;
  margin-bottom: 2.5rem;
}
.accomodations__amenities li + li {
  margin-left: 1rem;
}
.accomodations__amenities li {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  font-family: var(--primary-font), sans-serif;
  background-color: var(--secondary-color);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.accomodations__amenities h6 {
  color: #444;
  font-family: var(--primary-font), sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-top: 0;
  margin-bottom: 0.6rem;
}
.accomodations__costings__start {
  color: #898989;
  font-family: var(--primary-font), sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-right: 0.5rem;
}
.accomodations__costings__rates {
  color: var(--primary-color);
  font-family: var(--primary-font), sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.52px;
}
.accomodations__costings__rates > span {
  color: #4e4e4e;
  font-family: var(--primary-font), sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  display: inline-block;
  margin-left: -0.2rem;
  margin-bottom: -0.5rem;
}
.accomodations__costings {
  margin-top: 3rem;
}
.accomodations__cards.gx-5 {
  --bs-gutter-x: 5rem;
}
.accomodations__cards a .card {
  transition: 0.5s ease-in-out;
}
.accomodations__cards a:hover .card {
  box-shadow: 0px 4px 85px 0px rgba(108, 108, 108, 0.25);
}

.accomodations__cards a:hover .card .card-body{
  border-color: transparent;
}
.accomodations__cards a:hover .btn-secondary {
  color: var(--secondary-color);
  background: var(--primary-color);
}
.accomodations__cards a:hover .icon-arrow-left::before {
  color: var(--secondary-color);
}

@media (max-width: 1400px) {
  .dotted-bg {
    position: absolute;
    right: -0.2rem;
    bottom: -2rem;
    z-index: -1;
    width: 13rem;
  }
  .accomodations__cards.gx-5 {
    --bs-gutter-x: 3rem;
  }

  .howitworks__image{
    width: 50%;
  }
  .howitworks__content{
    width: 50%;
  }

}



@media (max-width: 1200px) {
  .hero-section__content h1 {
    font-size: 4.3rem;
  }
  .hero-section__form {
    padding: 2rem;
  }
  .dotted-bg {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: -1;
    width: 8rem;
  }
  .howitworks__image{
    width: 100%;
  }
  .howitworks__content{
    width: 100%;
    margin-top: 2rem;
  }
}
@media (max-width: 991px) {
  .hero-section__form {
    width: 100%;
    position: unset;
    margin-top: 2rem;
    flex-direction: column;
  }
  .hero-section__content__subtitle {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .hero-section__form .btn {
    margin-top: 2rem;
    width: 100%;
  }
  .home-aboutus {
    padding-top: 4rem;
  }
  .dotted-bg {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: -1;
    width: 8rem;
  }
  .howitworks {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .howitworks__details {
    padding-left: 0;
    margin-top: 2.5rem;
  }
  .howitworks__details li {
    align-items: flex-center;
  }
  .howitworks__details li + li {
    margin-top: 2.5rem;
  }
}
@media (max-width: 767px) {
  .home-aboutus__content {
    max-width: 100%;
    width: 100%;
  }
  .image-right,
  .image-left {
    margin-top: 2rem;
  }
  .playButton {
    width: 3.8rem;
    height: 3.8rem;
    font-size: 1.3rem;
  }
  .howitworks__details__iconholder {
    font-size: 2rem;
    padding: 2rem;
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 1.5rem;
    align-self: flex-start;
    margin-top: 0.5rem;
  }
}
@media (max-width: 576px) {
  .hero-section__content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .hero-section__content__subtitle {
    font-size: 1.6rem;
    line-height: normal;
  }
  .hero-section__form__content label {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .form-select {
    font-size: 1.2rem;
  }

  
  .hero-section__form__content {
    flex-direction: column;
    width: 100%;
  }
  .hero-section__form__content li + li {
    margin-left: 0;
    margin-top: 2rem;
  }
  .image-wrap.image-wrap--large {
    padding-bottom: 76%;
  }
  .image-left,
  .image-right {
    padding: 0;
  }

  .dotted-bg {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: -1;
    width: 8rem;
  }
  .image-wrap--vcplayer {
    padding-bottom: 65%;
  }
  .accomodations__cards .card-body {
    padding: 1rem;
  }
  .star-ratings {
    top: 1rem;
    right: 1rem;
  }
}


.aboutus-section__bg .section-title {
  color: #f8f8f8;
}

.about-aboutus {
  padding-top: 5.7rem;
  /* padding-bottom: 7.7rem; */
}
.about-aboutus__content {
  max-width: 67rem;
  margin-right: 4rem;
}

.about-aboutus__content .section-title{
  margin-top: 30px;
}

.about-sky-img {
  padding-right: 1rem;
  width: 46%;
}
.about-aboutus__content .section-subtitle:last-child {
  margin-bottom: 0;
}

/*repeated*/
.image-wrap {
  width: 100%;
  position: relative;
}
/*-----*/
.image-wrap--vcplayer {
  padding-bottom: 35%;
  border-radius: 2.6rem;
}
.videoplayer a .image-outer {
  transition: transform 0.2s ease-in-out;
}
.videoplayer .image-outer img {
  border-radius: 2.6rem;
}
.image-outer img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 1rem;
}
.videoplayer a:hover .image-outer {
  transform: scale(1.03);
  box-shadow: 0 0 3.4rem 0 rgba(80, 79, 89, 0.14);
}
.playButton {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  background-color: var(--primary-color);
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*------------*/
/*about cinko standards*/
.cinko-standards {
  padding: 8rem 0;
}
.cinko-standards__details {
  padding-left: 3rem;
}
.cinko-standards__count {
  background-color: var(--textpurple);
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: 1.3rem;
}
.cinko-standards__value {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 3rem;
  font-family: var(--primary-font), sans-serif;
  font-weight: 600;
  height: 36px;
  width: 36px;
  text-align: center;
  margin-top: 5px;
}
.cinko-standards__title {
  color: var(--textpurple);
  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}

.cinko-standard-content{
  display: flex;
  flex-direction: column;
  height: 100%;

}
.cinko-standard-content .image-container{
  flex: 1;
}


.cinko-standard-content .image-container .img-fluid{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*about cinko standards repeate*/

@media (max-width:1400px) {
  .about-sky-img {
    width: 42%;
  }
  .about-aboutus__content {
    margin-right: 0rem;
  }
}
@media (max-width:1200px) {
  .about-sky-img {
    width: 46%;
  }
  .about-aboutus__content {
    margin-right: 0rem;
  }

  .about-aboutus .col-lg-auto{
    width: 50%;
  }
}

@media (max-width: 991px) {
  .about-aboutus {
    padding-top: 4rem;
  }
  .cinko-standards__details {
    padding-left: 0rem;
    margin-top: 2rem;
  }
  .about-sky-img {
    width: 100%;
  }
  .about-aboutus__content {
    margin-right: 0rem;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .about-aboutus .col-lg-auto{
    width: 100%;
  }

  .cinko-standard-content .image-container .img-fluid{
    height: 30rem;
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .about-aboutus__content {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
  .playButton {
    width: 3.8rem;
    height: 3.8rem;
    font-size: 1.3rem;
  }

  
}
@media (max-width: 576px) {
  .image-wrap--vcplayer {
    padding-bottom: 65%;
  }
  .about-sky-img{
    padding-right: 8px;
  }
}
