<section class="hero-section">
  <div class="container">
    <div class="row position-relative">
      <div class="col-md-6 col-12">
        <div class="hero-section__content">
          <h1 class="hero-section__content__title">FIND A LAST MINUTE HOTEL</h1>
          <p class="hero-section__content__subtitle">
            <span>Cinko: </span>When you do not make a reservation but need a
            hotel room at the last hour
          </p>
          <button class="btn btn-primary" (click)="redirectToAboutUs()">Explore More</button>
        </div>
      </div>
      <div class="col-md-6 col-12 mt-4 mt-md-0">
        <img
          src="../../assets/img/hero-image.png"
          class="img-fluid w-100"
          alt=""
        />
      </div>
      <form action="">
        <div class="hero-section__form">
          <ul class="list-unstyled p-0 d-flex hero-section__form__content mb-0">
            <li>
              <div class="">
                <label for="formFile" class="form-label">Adults</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select no of Person</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="4">Four</option>
                  <option value="5">Five</option>
                </select>
              </div>
            </li>
            <li>
              <div class="">
                <label class="form-label">Location</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Miles Away</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="4">Four</option>
                  <option value="5">Five</option>
                </select>
              </div>
            </li>
          </ul>
          <button class="btn btn-primary">Search Hotel</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="home-aboutus">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="home-aboutus__content">
          <h2 class="section-title">About Us</h2>
          <p class="section-subtitle">
            In today's fast-paced world, we sometimes find ourselves someplace
            where we need to spend the night - but we did not plan to spend the
            night.
          </p>
          <p class="section-subtitle">
            This is where Cinko helps tremendously! Using Cinko travelers are
            able to make a last-minute hotel reservation for that night's stay -
            at an amazingly inexpensive price!
          </p>
          <p class="section-subtitle">
            Cinko is the perfect marriage for a traveler who unexpectedly needs
            a room for the night and a hotel who has a room that they thought
            would remain empty for the night!
          </p>
          <button class="btn btn-primary" (click)="redirectToAboutUs()">Read More</button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-12 image-left">
              <div class="image-wrap image-wrap--small">
                <div class="image-outer">
                  <img
                    src="../../assets/img/pond.jpg"
                    alt="image-wrap"
                    class="img-fluid"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="image-wrap image-wrap--small">
                <div class="image-outer">
                  <img
                    src="../../assets/img/hotel2.png"
                    alt="image-wrap"
                    class="img-fluid"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12 image-right position-relative">
              <div class="image-wrap image-wrap--large">
                <div class="image-outer">
                  <img
                    src="../../assets/img/sky.jpg"
                    alt="image-wrap"
                    class="img-fluid"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="dotted-bg">
                <img
                  src="../../assets/img/dottedShape.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 4. On Home Screen, please remove this section until we have a professional video created. This is pending for the future so please keep this option in a file for later use. -->
<!-- <section class="vision-mission">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 col-sm-12">
        <h4 class="vision-mission__title vision">Vision</h4>
        <p class="vision-mission__subtitle">
          Our vision is to create a world where technology and innovation
          empower individuals and communities to thrive. We strive to be at the
          forefront of advancements, constantly pushing boundaries to develop
          solutions that address the world's most pressing challenges.
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
        <h4 class="vision-mission__title mission">Mission</h4>
        <p class="vision-mission__subtitle">
          Our mission is to empower individuals and organizations with
          transformative technology solutions that drive progress, foster
          innovation, and create sustainable value.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="videoplayer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="" class="w-100 h-100 position-relative text-decoration-none">
          <div class="image-wrap image-wrap--vcplayer">
            <div class="image-outer">
              <img
                src="../../assets/img/vcplayer.png"
                alt="image-wrap"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
          <span class="playButton"><span class="icon-Frame"></span></span>
        </a>
      </div>
    </div>
  </div>
</section> -->

<section class="howitworks">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <h2 class="section-title">How it works?</h2>
      </div>
      <div class="col-lg-6 col-md-12 howitworks__image">
        <div class="image-wrap image-wrap--howitwork">
          <div class="image-outer">
            <img
              src="../../assets/img/cinko-howItworks.png"
              alt="cinko how it works?"
              class="img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 howitworks__content">
        <ul class="list-unstyled howitworks__details">
          <li>
            <div
              class="howitworks__details__iconholder howitworks__details__iconholder--green"
            >
              <span>
                <img src="../../assets/img/downloadIcon.svg" alt="download icon">
              </span>
            </div>
            <p class="section-subtitle mb-0">Download the free Cinko App.</p>
          </li>
          <li>
            <div
              class="howitworks__details__iconholder howitworks__details__iconholder--purple"
            >
              <span>
                <img src="../../assets/img/editIcon.svg" alt="edit icon">
              </span>
            </div>
            <p class="section-subtitle mb-0">
              Tell the app how far from where you are hoping to find a hotel
              room (1 mile, 2 miles, 5 miles).
            </p>
          </li>
          <li>
            <div
              class="howitworks__details__iconholder howitworks__details__iconholder--violet"
            >
              <span>
                <img src="../../assets/img/hotelIcon.svg" alt="hotel icon">
              </span>
            </div>
            <p class="section-subtitle mb-0">
              Cinko finds a hotel near you which has an empty room for the night
              and matches you with that hotel.
            </p>
          </li>
          <li>
            <div
              class="howitworks__details__iconholder howitworks__details__iconholder--orange"
            >
              <span>
                <img src="../../assets/img/ticketIcon.svg" alt="ticekt icon">
              </span>
            </div>
            <p class="section-subtitle mb-0">
              Once Cinko matches you with the hotel, you will be charged for the
              room for that night <b>(Usually USD 50*- which is why it is called
              Cinko!)</b>  and you receive instructions on where your hotel is
              located.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="accomodations">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="section-title">Accommodations</h2>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-secondary">See All</button>
      </div>
    </div>
    <div class="row gx-5 accomodations__cards">
      <div class="col-md-4 col-sm-6 col-12 mb-4 mb-md-0">
        <a href="#0" class="text-decoration-none">
          <div class="card w-100 position-relative">
            <div class="star-ratings">
              <span class="icon-star"></span>
              <span class="star-ratings__text">4.0</span>
            </div>
            <div class="image-wrap image-wrap--accomodations">
              <div class="image-outer">
                <img
                  src="../../assets/img/hotel1.png"
                  alt="image-wrap"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="card-body position-relative">
              <h5 class="card-title">Nearby Hotel</h5>
              <p class="card-text">
                Excellent, modern hotel with wonderful amenities.
              </p>

              <div class="accomodations__amenities">
                <h6>Amenities</h6>
                <ul class="list-unstyled d-flex flex-wrap mb-0">
                  <li>Pool</li>
                  <li>Sauna</li>
                  <li>WiFi</li>
                </ul>
              </div>
              <div
                class="accomodations__costings d-flex align-items-center justify-content-start"
              >
                <div class="accomodations__costings__start">Starting from</div>
                <div
                  class="accomodations__costings__rates d-flex align-items-center justify-content-start"
                >
                  $50 <span> /Night</span>
                </div>
              </div>
              <button class="btn btn-secondary accomodations__btn">
                <span class="icon-arrow-left"></span>
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-12 mb-4 mb-md-0">
        <a href="#0" class="text-decoration-none">
          <div class="card w-100 position-relative">
            <div class="star-ratings">
              <span class="icon-star"></span>
              <span class="star-ratings__text">4.0</span>
            </div>
            <div class="image-wrap image-wrap--accomodations">
              <div class="image-outer">
                <img
                  src="../../assets/img/hotel2.png"
                  alt="image-wrap"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="card-body position-relative">
              <h5 class="card-title">Nearby Hotel</h5>
              <p class="card-text">
                Excellent, modern hotel with wonderful amenities.
              </p>

              <div class="accomodations__amenities">
                <h6>Amenities</h6>
                <ul class="list-unstyled d-flex flex-wrap mb-0">
                  <li>Pool</li>
                  <li>Sauna</li>
                  <li>WiFi</li>
                </ul>
              </div>
              <div
                class="accomodations__costings d-flex align-items-center justify-content-start"
              >
                <div class="accomodations__costings__start">Starting from</div>
                <div
                  class="accomodations__costings__rates d-flex align-items-center justify-content-start"
                >
                  $50 <span> /Night</span>
                </div>
              </div>
              <button class="btn btn-secondary accomodations__btn">
                <span class="icon-arrow-left"></span>
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-12 mb-4 mb-md-0">
        <a href="#0" class="text-decoration-none">
          <div class="card w-100 position-relative">
            <div class="star-ratings">
              <span class="icon-star"></span>
              <span class="star-ratings__text">4.0</span>
            </div>
            <div class="image-wrap image-wrap--accomodations">
              <div class="image-outer">
                <img
                  src="../../assets/img/hotel3.png"
                  alt="image-wrap"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="card-body position-relative">
              <h5 class="card-title">Nearby Hotel</h5>
              <p class="card-text">
                Excellent, modern hotel with wonderful amenities.
              </p>

              <div class="accomodations__amenities">
                <h6>Amenities</h6>
                <ul class="list-unstyled d-flex flex-wrap mb-0">
                  <li>Pool</li>
                  <li>Sauna</li>
                  <li>WiFi</li>
                </ul>
              </div>
              <div
                class="accomodations__costings d-flex align-items-center justify-content-start"
              >
                <div class="accomodations__costings__start">Starting from</div>
                <div
                  class="accomodations__costings__rates d-flex align-items-center justify-content-start"
                >
                  $50 <span> /Night</span>
                </div>
              </div>
              <button class="btn btn-secondary accomodations__btn">
                <span class="icon-arrow-left"></span>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
