<div class="d-flex">
  <div class="position-relative">
    <app-admin-aside></app-admin-aside>
  </div>
  <section class="tabs-content w-100 overflow-hidden">
    <header
      class="dashboard-header d-flex justify-content-between align-items-center"
    >
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Hotels</a></li>
          <li class="breadcrumb-item active">Add New Hotel</li>
        </ol>
      </nav>
      <div class="d-flex align-items-center">
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/dashboard-search.svg" alt="search" />
        </div>
        <div
          class="dashboard-search d-flex align-items-center justify-content-center me-4"
        >
          <img src="../../assets/img/notification.svg" alt="search" />
        </div>
        <div class="user-name d-flex align-items-center">
          <img
            src="../../assets/img/user-img.png"
            alt="user"
            class="user-img"
          />
          <h2 class="user-heading">David Sperry</h2>
        </div>
      </div>
    </header>
    <section class="dashboard-section">
      <h2 class="dashboard-heading mb-0">Add New Hotel</h2>
      <div class="hotels-form">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Hotel Name</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Address line 1</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Address line 2</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Country</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">State</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">City</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Zip Code</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Rooms Available</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <input type="text" class="float-control" required />
              <label for="">Amenities</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label float-label--textarea mb-5">
              <textarea
                name=""
                class="float-control"
                id=""
                cols="30"
                rows="4"
                required
              ></textarea>
              <label for="">Description of Hotel</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <label for="" class="file-label">Hotel reg certificate</label>
              <input
                type="text"
                class="float-control file-placeholder"
                placeholder="No file chosen"
              />
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="float-label mb-5">
              <label for="" class="file-label">Hotel Images</label>

              <input
                type="text"
                class="float-control file-placeholder"
                placeholder="No file chosen"
              />
            </div>
          </div>
        </div>
        <div class="select-location">
          <div
            class="d-flex flex-column flex-xl-row justify-content-between align-items-xl-center"
          >
            <h2 class="location-heading">Select your location</h2>
            <div
              class="d-flex flex-column flex-md-row justify-content-between align-items-md-center"
            >
              <div class="float-label me-2 nearest-location">
                <input type="text" class="float-control" required />
                <label for="">Search Nearest Location</label>
                <img
                  src="../../assets/img/search-icon.svg"
                  alt="search"
                  class="search-location"
                />
              </div>
              <div class="float-label mt-0 d-flex align-items-center me-2">
                <h2 class="location-values me-2">Latitude</h2>
                <input type="text" class="float-control" />
              </div>
              <div class="float-label mt-0 d-flex align-items-center">
                <h2 class="location-values me-2">Longitude</h2>
                <input type="text" class="float-control" />
              </div>
            </div>
          </div>

          <img
            src="../../assets/img/location.png"
            alt="location"
            class="w-100 mt-5"
          />
        </div>
        <div class="mt-5 d-flex justify-content-end">
          <button class="btn btn-secondary">BACK</button>
          <button class="btn btn-primary">SUBMIT</button>
        </div>
      </div>
    </section>
  </section>
</div>
